.text{
    position: relative;text-align: center;
}
.obl{
    position: relative;text-align: center;
}
.story{
    position: relative;text-align: left;
}
.navigation{
    position: relative;text-align: center;
}
.op{
    position: relative;text-align: center;
}
.video{
    position: relative;text-align: center;
}
.post1{
    position: relative;left: 3%;
}
.post2{
    position: relative;left: 23%;
}
.filosofiA{
    position: relative;text-align: center;
}
.kys{
    position: relative;text-align: center;
}
.knopka{
    position: relative;text-align: center;
}
.imya{
    position: relative;text-align: center;
}
.pishi{
    position: relative;text-align: center;
}
.ag3{
    position: relative;text-align: center;
}
.cif{
    position: relative;text-align: center;
}
.dat{
    position: relative;text-align: center;
}
.dat1{
    position: relative;text-align: center;
}
.one{
    position:relative;display: inline;text-align: center;
}
.yes{
    position: relative;display: inline;text-align: center;
}
.two{
    position: relative;display: inline;text-align: center;
}
.no{
    position: relative;display: inline;text-align: center;
}
.happy{
    position: relative;text-align: center;
}
.gg{
    position: relative;text-align: center;
}
.up{
    position: relative;text-align: right;
}